[2016-04-04 14:46] jcaiqueoliveira opened #1 "Sugestion: Add method hide() and show()"

[2016-04-04 18:13] markormesher commented on #1
Good point - I'll add this asap.

[2016-04-06 22:17] markormesher commented on #1
This is completed and will be part of the next release in a couple of days.

[2016-04-06 22:17] #1 closed

[2016-06-01 08:28] TurhanOz opened #2 "SpeedDialMenu not showing"
If a ClickListener is set to the FAB, the speedDialMenu doesn't show when clicked (otherwise it shows).
Cheers

[2016-06-01 08:35] TurhanOz commented on #2
This is due to the fact that the setOnClickListener() reset the adapter for no reason.
      @Override
    public void setOnClickListener(OnClickListener listener) {
        this.menuAdapter = null;
        this.listener = listener;
    }
Cheers

[2016-06-01 08:57] markormesher commented on #2
Thanks for raising this. There is actually a good reason that the menu adapter is reset: as per Material Design specs, the FAB is intended to work as a standard button **or** as an access point for the speed-dial menu, but not both. Setting one option disables the other; this is alluded to in the README.md file, but it definitely could be clearer.

I'm already planning to change the onClick listen

[2016-06-01 09:10] TurhanOz commented on #2
Hi Mark,
Indeed, the developer is responsible for matching the behavior recommanded by the specs, but I don't think it should be enforced by the library.

Here is my point :
- the reason why I need to set a listener on the fab is simply adding a tracking event and not triggering an user 'action'.
- in my situation, I have to workaround this by setting the listener first and feeding the adapter aft

[2016-06-01 09:20] markormesher commented on #2
I agree, mostly, with your points, and it's one of the main reasons I'm putting together the callback layer instead of the current system. It's the way it is right now because that's what supported my use cases when it was just a personal project. The new callback should be pushed in a couple of days when I get some time off.

[2016-06-01 13:43] TurhanOz commented on #2
Thanks 👍  :)

[2016-06-02 08:08] markormesher commented on #2
Fixed in release [1.2.0](https://github.com/markormesher/android-fab/issues/2) :+1:

[2016-06-02 08:08] #2 closed

[2016-06-09 16:03] TurhanOz opened #3 "impossible to assembleRelease"
Hi,
assembleRelease of a project including this dependency is failing (error bellow).
Could you give some input on how to avoid this.
Cheers

Warning: uk.co.markormesher.android_fab.FloatingActionButton$$Lambda$1: can't find referenced class java.lang.invoke.LambdaForm$Hidden
Warning: uk.co.markormesher.android_fab.FloatingActionButton$$Lambda$4: can't find referenced class java.lang.invoke.Lambda

[2016-06-09 18:21] McPo commented on #3
Look at the proguard file.
https://github.com/markormesher/android-fab/blob/development/app/proguard-rules.pro

It seems, adding.

[code]

Was sufficient for it to be built.

[2016-06-09 18:28] markormesher commented on #3
@TurhanOz I just added the FAB dependency to a completely blank Android project and it was able to compile and install correctly; the additional Proguard line suggested by @McPo shouldn't actually be necessary. Could you point me towards any of the relevant source code for the app causing the error and I'll take a closer look for you?

`build.gradle` for the blank application: https://gist.github.

[2016-06-09 19:52] McPo commented on #3
change minifyEnabled to true. I suspect that will reproduce the issue in
your app.

And ofcourse, make sure your building the release flavour.
On 9 Jun 2016 7:28 p.m., "Mark Ormesher" notifications@github.com wrote:

[2016-06-09 20:18] markormesher commented on #3
Building on the release flavour, of course. Enabling minify still threw up no issues. @TurhanOz,  did you have any luck following the suggestion above?

[2016-06-10 08:32] TurhanOz commented on #3
Hi,
the above proguard rule suggested by @McPo solved the issue :)
could you add this to the Readme @markormesher please ?
Cheers

[2016-06-10 08:46] markormesher commented on #3
Interesting! I tried with a completely fresh IntelliJ/Gradle install this morning in a new VM and still had no issues. I'm going to leave this issue open until I can properly resolve this with a sure cause, but I will definitely add a note to the readme in the meantime.

Thanks for raising this @TurhanOz, and thanks for your input @McPo! :smile:

[2016-07-13 15:23] markormesher commented on #3
The ProGuard rule does indeed seem to solve the issue - thank you so much for bringing it to my attention :smile: Something about my default setup must negate the issue; I added the plugin to a few other apps, some of which had the error (all of which were fixed with the ProGuard line).

[2016-07-13 15:23] #3 closed

[2016-08-23 06:44] mayank250004 opened #4 "how to change background color when click on fab?"

[2016-08-23 10:33] markormesher commented on #4
Do you want it to change to a new colour after the touch event, or to change to a new colour whilst being touched and then change back once released?

[2016-08-25 08:31] markormesher commented on #4
@mayank250004 ?

[2016-09-08 04:42] dasshuvajit commented on #4
[code]

[2016-09-08 08:41] markormesher commented on #4
@mayank250004 - The code that @Shuvajit-Das posted would work fine for swapping the icon and colour when the speed-dial menu opens and closes -- is this what you were looking for?

@Shuvajit-Das - Thank you for contributing!

@Both - If you're swapping the icons, make sure you leave [`rotateFab()`](https://github.com/markormesher/android-fab/blob/9fef3e711a579c08b8c8674db844923242b34c38/fab/src/ma

[2016-09-15 13:30] markormesher commented on #4
I'm going to go ahead and close this -it's been three weeks since the question was raised, and a suitable answer has been provided. @Shuvajit-Das If you have any further issues, please feel free to re-open this issue or create a new one.

[2016-09-15 13:30] #4 closed

[2016-11-05 20:37] parasjain1 opened #5 "Animation lag on SpeedDialMenu open/close while using with MaterialViewPager library"
I'm experiencing significant lag or better say slow animation when opening/closing speed dial menu. I'm using MaterialViewPager library too.

[2016-11-15 11:56] markormesher commented on #5
The MaterialViewPager library and this one shouldn't be interfering with each other - I just implemented both in a blank app and they both seemed to behave. Could you share the code (layout and Java) where you're using the FAB, please? I'll take a look and try to figure out what's happening.

[2017-04-24 16:30] tihomirleka opened #8 "CardView not round in KitKat"
Hi there, when library is used on small screen device with Android Jelly Bean (4.2.2) buttons are not circles. I tried to change width, height and radius of CardView but couldn't mange to get the circle. I'm thinking that maybe it's the drawable. I'm attaching the screenshot of your demo app so you understand better. As I said Android version is 4.2.2 and screen size is 320x480.

![screenshot_2017

[2017-04-25 16:28] markormesher commented on #8
Thanks for flagging this, @tihomirleka. I was able to reproduce the problem on a virtual device, so it's definitely something I need to resolve.

Unfortunately I don't have a lot of time for personal projects at the moment (exams - yay!), so it may be a few weeks before this gets fixed. I'm making a note so I don't forget!

[2017-05-25 15:19] markormesher commented on #8
I've just pushed a fix for this (v1.3.0) that replaces `CardView` with `ViewGroup` on SDK < 21 devices. I didn't want to take such an extreme measure, but it seemed to be the only way to reliably fix the issue on *all* devices. I'll close this now, but if there are any figure issues feel free to re-open or make a new issue (whichever is more appropriate).

[2017-05-25 15:21] markormesher commented on #5
Looks like this has gone cold, so I'll close this issue. If you have any further problems, feel free to re-open.

[2017-05-25 15:21] #5 closed

[2017-05-26 14:27] tihomirleka commented on #8
Hi, I tested the new version and visually it looks good (perfect circle), but there is another problem now.
Anything "behind" the FAB is unclickable when speed dial menu is opened and closed by clicking the background (cover). If you open and close speed dial menu by clicking FAB everything works.

The bug again appears only on small screen device on which I also discovered the initial bug (320x48

[2017-05-26 14:47] markormesher commented on #8
Confirmed on a virtual device. I'm working on a different project this evening, but I will take a look over the weekend. Thanks again!

[2017-05-28 17:21] markormesher commented on #8
Fixed in v1.3.1 :smile:

(By the way, a full re-write of this project is coming soon!)

[2017-05-28 17:21] #8 closed

[2017-05-29 08:54] tihomirleka commented on #8
I can confirm that this works now.

Cheers

[2017-06-05 12:48] AyoPrez opened #9 "Suggestion: allow to choose the direction of the menu"
Currently the only direction that the menu follows when it's opened is up. It would be great if the developer can choose another direction (having by default the menu going up).

In my case I want to put the button on the top of the screen and open the menu as dropdown.

It can be done just introducing a flag and changing a bit this method:

private void setSpeedDialMenuVisible(final boolean visib

[2017-06-06 07:43] markormesher commented on #9
Thanks for the suggestion @AyoPrez. This is actually something I've been thinking about for a while. There's a full re-write of this project on the cards in the near(ish)-future, and I will most likely be including this feature. I'll leave this open until then!

[2017-06-08 04:02] danieldesouzadev opened #10 "Color Overlay View"
Hi, is there any way to customize the background color when the menu is open? That is, that white with alpha?

Congratulations on the lib... tks!

[2017-06-08 04:21] markormesher commented on #10
At the moment there isn't, but that wouldn't be too hard to add. I'll take a look at implementing it shortly. Thanks for the suggestion!

[2017-06-08 04:27] danieldesouzadev commented on #10
Tks to your respond, I really need this implementation ...

[2017-06-08 04:54] danieldesouzadev commented on #10
Uwoooo... only:

In: FloatingActionButton:

`public void setBackgroundCover(int colour) {
		savedBgCover = colour;
		coverView.setBackgroundColor(colour);
}`

`
private int savedBgCover =  0x99ffffff;

	@Override
	protected Parcelable onSaveInstanceState() {
		Bundle bundle = new Bundle();
		bundle.putBoolean("shown", shown);
		bundle.putInt("savedIconResId", savedIconResId);
		bundle.putInt("save

[2017-06-08 05:00] danieldesouzadev commented on #10
Thanks ... one question, if I synchronize the gradle in my project, do I get this update?

[2017-06-08 05:03] markormesher commented on #10
You'll need to wait for me to do a release first, then update the version number. I'll comment here when it's done.

[2017-06-08 05:07] danieldesouzadev commented on #10
I'm waiting ... congratulations ...

[2017-06-08 05:36] danieldesouzadev commented on #10
If anyone needs it right away:

`fab.findViewById(uk.co.markormesher.android_fab.fab.R.id.cover).setBackgroundColor(0x99000000);`

[2017-06-08 05:39] markormesher commented on #10
**^ That won't work properly.** It will change the colour, but you'll lose the radial expansion effect and get a square block of colour. You need to change the colour of the background drawable, which is a shape.

The new version has already been released. Change your Gradle dependency to version `1.3.2` and you'll get the new feature.

[2017-06-08 05:43] danieldesouzadev commented on #10
It's perfect ... thank you ...

[2017-06-08 05:45] markormesher commented on #10
No problem

[2017-06-08 05:45] #10 closed

[2017-06-29 22:36] carvalhorr opened #11 "Style is not applied to the FAB button"
When I apply a style in XML to the FAB what gets styled is the clickable area that fills the entire screen. Would it be possible to apply the style to the button instead?

Example:

If I use the style tag:
`<uk.co.markormesher.android_fab.FloatingActionButton style="my_style_here" />`

I get this:
![device-2017-06-29-233008](https://user-images.githubusercontent.com/3863951/27713323-14079748-5d23-

[2017-06-30 12:53] markormesher commented on #11
Hi @carvalhorr. The problem with styling the `uk.co.markormesher.android_fab.FloatingActionButton` view element is that it's not just the button, it's actually a wrapper that contains the button, the icon, the speed-dial menu components, etc.

What kind of styles were you trying to apply? I can help you figure out how to apply them to just the button (or make plans for a new release that will allo

[2017-06-30 13:05] carvalhorr commented on #11
Thanks, @markormesher. I would like the same syle that is applied in the other FAB.

The style is defined here: https://github.com/OneBusAway/onebusaway-android/blob/master/onebusaway-android/src/main/res/values/styles.xml (See the style name "OneBusAway.FloatingActionButton")

[2017-06-30 13:45] barbeau commented on #11
@carvalhorr What device/emulator/Android version was the screenshot from?

I had a similar issue when adding the setting for "left hand mode" to OneBusAway Android (https://github.com/OneBusAway/onebusaway-android/commit/625b262accfef0ae3e257c00bc0d844e1b4dfea6), which simply flips the My Location FAB to be aligned to parent left instead of parent right (i.e., moves it to the left side of the scre

[2017-06-30 14:12] carvalhorr commented on #11
This is an emulator running API level 23.

[2017-08-08 11:52] tihomirleka opened #12 "Speed dial menu items stay drawn if rebuildSpeedDialMenu() is called when FAB is opened"
If speed dial menu is opened and `FloatingActionButton.rebuildSpeedDialMenu()` method is called currently rendered items are not destroyed and new set of speed dial items is created.

[2017-08-08 12:23] nvasilev0101 opened #13 "Programmatically change expand direction"
Currently the expand direction can be changed only in the xml with the expandDirection property. It would be very helpful if this property could be accessed programmatically.

[2017-08-08 12:39] markormesher commented on #13
Hi @nvasilev0101. I haven't worked with this project in a while, but I'm fairly sure the direction can't actually be changed at all. If you take a look at #9 you can see a suggestion to implement this feature along with some code for doing so (not tested by me). It's on the board for the re-write coming some point this year, and it'll be accessible in XML and Java. I'm going to close this for now

[2017-08-08 12:39] #13 closed

[2017-08-08 12:42] markormesher commented on #12
Is this a major blocker for you? I'm going to be re-writing this whole project soonish anyway, but I try to find some time to patch the current version if it's essential.

[2017-08-17 21:43] barbeau opened #14 "Feature request - Allow speed dial to remain expanded when item is tapped"
Great library!

We're using this library to control which map layers are visible on a map.  We currently have it implemented for bikeshare.

The below screenshots show from left to right:
* Bikes visible and speed dial control closed
* Bikes visible and speed dial control expanded
* Bikes disabled and speed dial control expanded

![image](https://user-images.githubusercontent.com/928045/29434909-e

[2017-08-18 07:46] markormesher commented on #14
Hi @barbeau and @carvalhorr!

Thank you for this suggestion - I agree, it would be a good addition to the library. As you may have seen in other issues there is a full re-write of this library in progress at the moment, so I'm generally not adding new features. However, this should be quite a small addition, so I will take a look this weekend and see if I can get it released.

[2017-08-18 13:07] barbeau commented on #14
@markormesher Thanks, that would be awesome!  We plan to push a new beta release next week, and then to production a week or two later (assuming no major issues are found).  It would be great to be able to include this feature.

[2017-08-20 18:11] markormesher commented on #12
Fixed in v1.3.3.

[2017-08-20 18:11] #12 closed

[2017-08-20 18:15] markormesher commented on #14
This issue has shown me how long it's been since I touched this project. It turns out that what you want is already implemented and I completed forgot! Quoting the docs for the `onMenuItemClick` (in the README.md):

The bad news is that to change the icon colour you'd need to call the `rebuildSpeedDialMenu` method, which has a bug causing undesired behaviour if called when the speed-dial menu is s

[2017-08-21 00:43] barbeau commented on #14
@markormesher That's awesome, thanks!!  We'll check it out.

[2017-08-22 19:50] barbeau commented on #14
@markormesher This seems to work well for leaving the control open when tapping!  Thanks!

However, we're hitting an issue with the view that's between the map and speed dial - it blocks any scrolling of the map while the dial is expanded.  Any suggestions for allowing the map to scroll while keeping the speed dial open?

(Alternately, a solution that immediately collapses the speed dial and passe

[2017-08-22 19:57] carvalhorr commented on #14
I was wondering if there is a way to disable the cover view? I could set its visibility to GONE 100ms after the speed dial opens, but this is a hack and I could have problems in the future if the library changes.

[2017-08-22 20:15] barbeau commented on #14
@markormesher Unless there is a better way to do this, would making `FloatingActionButton.setSpeedDialCoverVisible()` a `public` instead of `private` method be a reasonable solution in the library?

[2017-08-22 20:34] markormesher commented on #14
The trouble with using `setSpeedDialCoverVisible` for your use case is that it controls the animation, so if it was made public and you used it to hide the cover, you might see some stuttering. Would an option to enable/disable the cover entirely work better?

[2017-08-22 20:36] barbeau commented on #14
Yes, I think so.  That's what @carvalhorr was looking for, and he's been more hands-on than I have with this.

[2017-08-22 20:51] markormesher commented on #14
Potential: https://github.com/markormesher/android-fab/commit/a2fec492545838494f671badb92606d2b91a29ad

The only problem with this is that the user-expected behaviour of "tap outside the speed dial menu to close it" is removed, because the cover view is what receives those tap events to close the menu.

[2017-08-22 20:58] barbeau commented on #14
Maybe a better solution is to have the cover close the speed dial on touch event, but pass the touch event to the underlying view?

This would allow the user to immediately drag or tap on the map without interference from the speed dial, and these touch events would close the speed dial.

IMHO, the important thing is to avoid interfering with the use of the underlying map when the user touches it

[2017-08-22 21:02] carvalhorr commented on #14
This looks good.

I don't think it would be a problem with the expected behaviour since by default it works as expected. By adding the possibility to disable the default behaviour you can make the library be used in different use cases.

@barbeau I think the speed dial being open while interacting with the map is interesting. I was able to see the effect of activating one item of the speed dial wh

[2017-08-22 21:04] barbeau commented on #14
@carvalhorr and @markormesher Ok, works for me!

[2017-08-22 21:07] markormesher commented on #14
I'll go ahead and merge+release that now then.

This is definitely worth looking into, but more than I can release right now (10pm for me) and probably out of scope for the current version, as a re-write is in progress. I'm planning for the re-write to be much more customisable, so I'll take this into consideration.

[2017-08-22 21:12] carvalhorr commented on #14
Thanks @markormesher

We are in the same timezone. Time to stop for today for me too.

[2017-08-22 21:17] markormesher commented on #14
Published as v1.3.4 :+1:

Closing this for now, but open it up if you have any troubles with the update.

[2017-08-22 21:18] #14 closed

[2017-08-22 21:20] barbeau commented on #14
Awesome, thanks @markormesher!  We really appreciate your work on this and quick release (especially with the late night)!

[2017-08-22 21:28] barbeau commented on #14
@markormesher Also, if it helps, we have a number of UI utility methods licensed under Apache v2.0 in our `UIUtils` class:
https://github.com/OneBusAway/onebusaway-android/blob/master/onebusaway-android/src/main/java/org/onebusaway/android/util/UIUtils.java

In particular, [`UIUtils.isTouchInView()`](https://github.com/OneBusAway/onebusaway-android/blob/master/onebusaway-android/src/main/java/org/

[2017-08-23 08:08] markormesher commented on #14
That could definitely be helpful, thank you!

[2017-09-29 21:55] barbeau opened #15 "Can FAB speed dial items be aligned to parent left?"
Thanks again for the great library!

We have a setting in our app "Left hand mode" that flips FABs to align the left side of the screen instead of the right (used by a small but appreciative audience :)).

I can't seem to find a way to programmatically flip the FAB speed dial menu items so they align to the left side of the screen instead of the right.

Here's what I have so far - I was able to fl

[2017-10-22 18:03] markormesher commented on #15
Hi Sean - thanks for raising this issue. Unfortunately this isn't really possible with the currently library due to some short-sighted hard-coded values. However, I've put a few hours into the re-write today and this has been top of my priorities. The button can now be positioned in each corner and the speed-dial menu is position properly (screenshots in follow-up comment).

The re-write will be r

[2017-10-22 18:04] markormesher commented on #15
![screenshot_20171022-185149](https://user-images.githubusercontent.com/6496999/31864786-bf8be992-b75b-11e7-97e5-2daa9e3c8c6d.png)

![screenshot_20171022-185201](https://user-images.githubusercontent.com/6496999/31864790-c437349c-b75b-11e7-9ead-bff823e61faa.png)

![screenshot_20171022-185208](https://user-images.githubusercontent.com/6496999/31864791-c8aebd9c-b75b-11e7-819b-7ac468564572.png)

![sc

[2017-10-28 04:07] barbeau commented on #15
Thanks for working on this Mark! I've been slammed lately but this looks great, I will give it a try.

[2017-10-30 20:35] markormesher commented on #9
@AyoPrez Are the screenshots in https://github.com/markormesher/android-fab/issues/15 what you had in mind?

[2017-11-04 22:34] markormesher commented on #15
[v2.0.0](https://github.com/markormesher/android-fab/releases/tag/v2.0.0) is now published and available from Bintray. The [demo app](https://play.google.com/store/apps/details?id=uk.co.markormesher.android_fab.app) has been updated and should be live on the Play Store shortly.

Give it a spin and let me know how it goes. There are a few breaking changes but nothing major, and the demo app code sh

[2017-11-30 15:07] barbeau commented on #15
Thanks @markormesher!  Sorry I haven't replied sooner - been slammed lately.  I'll see if I can test v2.0.0 w/ OneBusAway Android.

[2018-01-07 03:19] agostini95 opened #18 "listener for the item"

[2018-01-07 03:20] #18 closed

[2018-01-22 11:08] SeaRoth opened #19 "Naming"
Why was FloatingActionButton chosen for the class name when Android has one with the same name? android.support.design.widget.FloatingActionButton

[2018-01-22 14:50] markormesher commented on #19
Hey @SeaRoth. You make a good point - hindsight is a wonderful thing and a unique name probably would have been better! This code started out as a component of a commercial project, which is when the name was selected, and it was open-sourced some time later.

It's unlikely that someone would be using Android's FAB _and_ this one in the same project, so I'm not planning to rename everything, but i

[2018-01-22 14:51] #19 closed

[2018-01-25 07:52] Yahhi opened #20 "Method to set speed-dial buttons background color"
I didn't find this on wiki, but it would be a good option if I can set not only icon but also background color for speed-dial buttons

[2018-01-25 08:20] markormesher commented on #20
Hey @Yahhi. There's a method you can override in the speed-dial adapter called `getBackgroundColour` which will do what you're looking for. In v2.0.0 you'll find it [here](https://github.com/markormesher/android-fab/blob/development/fab/src/main/kotlin/uk/co/markormesher/android_fab/SpeedDialMenuAdapter.kt#L37) and in older versions it's [here](https://github.com/markormesher/android-fab/blob/0947

[2018-01-25 08:20] #20 closed

[2018-02-07 16:13] barbeau opened #21 "Running app fails with "...variant...is not signed""
If you clone the project, and try to run the app in `/app` in Android Studio v3.0.1, you get the following:

![image](https://user-images.githubusercontent.com/928045/35927053-b2603354-0bf7-11e8-9097-c6498acb9e52.png)

Looks like this is because in `build.gradle` the debug build type specifies the same keystore process as release.  I'll open a PR for this shortly.

[2018-02-07 16:25] #21 closed

[2018-02-07 16:43] markormesher commented on #11
Dragging up an old issue: one thing on my list to add in v2.1 is exposure of the core views making up the FAB (the card view, the icon wrapper, etc). I imagine you've worked around this already, but that should resolve this for anyone coming across this in the future.

[2018-02-07 16:49] barbeau opened #23 "setOnSpeedMenuDialOpenListener() has wrong name"
With v2.0, code to set the open and close listener looks like this:

[code]

The naming convention of the two set listeners methods are different:
* `setOnSpeedMenuDialOpenListener()`
* `setOnSpeedDialMenuCloseListener()`

Judging by the `setSpeedDialMenuAdapter()` method, it looks like the open listener method:

`setOnSpeedMenuDialOpenListener()`

should have been:

`setOnSpeedDialMenulOpenListen

[2018-02-07 16:50] barbeau commented on #23
@markormesher Swapping the method name is obviously a breaking change, so I don't know how you want to handle this.

[2018-02-07 17:04] markormesher commented on #11
Something like this: https://github.com/markormesher/android-fab/compare/expose-underlying-views

[2018-02-07 17:11] markormesher commented on #23
Ha, wow, good spot. I think an alias is the best approach to fixing this, so we can move forwards with the right naming convention without breaking anything. I'll tag this issue in a commit shortly.

[2018-02-07 17:23] markormesher commented on #23
@barbeau I'll be merging this and cutting a new release tonight. https://github.com/markormesher/android-fab/compare/fix-speed-dial-listener-naming-mistake

[2018-02-07 17:37] barbeau commented on #23
Awesome, thanks!

[2018-02-07 17:48] #23 closed

[2018-02-07 17:48] #11 closed

[2018-02-07 21:09] barbeau opened #24 "Allow setting menu item label View in v2"
In [OneBusAway Android](https://github.com/OneBusAway/onebusaway-android), we use this FAB library for a "Layers" button on top of the map (and it works quite well - thanks! :+1:)- see below screenshot (closed on left, open on right):

![image](https://user-images.githubusercontent.com/928045/35941318-d54e0fa8-0c1f-11e8-86b9-32d91357e657.png)

Because the underlying map can be quite busy, we added

[2018-02-07 21:11] barbeau commented on #15
~~Updating to v2 of the FAB library is currently blocked by https://github.com/markormesher/android-fab/issues/24 and https://github.com/markormesher/android-fab/issues/25.~~

Now unblocked, both above issues are resolved.

[2018-02-07 21:35] markormesher commented on #24
Hey @barbeau - thanks for flagging this. You're right, there's no way currently to supply the actual view that is used in the menu, because of changes made to the way views are inflated and cached.

I'll take a look at resolving this tomorrow. I'm thinking of adding a few methods to the adapter interface that will be called with references to the label, icon and button views, something like `onPre

[2018-02-07 21:49] barbeau opened #25 "Disappearing menu items when using v2 of library"
**Summary:**

@markormesher I did a fairly straightforward port of our project to use v2 of this library - WIP PR at:
https://github.com/OneBusAway/onebusaway-android/pull/856

However, I'm seeing different behavior in terms of the visibility of menu items.

If I tap on the "Bikeshare" menu item (see left screenshot below), the entire menu item disappears (see right screenshot below):

![image](ht

[2018-02-07 21:56] barbeau commented on #24
@markormesher Sounds good to me!  Also, I accidentally omitted the `label.setBackground()` line of code (which is kind of important - that's the solid background!) from my initial post - I just edited it to add this line.

So, for the background of the `TextView` we're using XML resource drawables like `speed_dial_disabled_item_label.xml` that look like:

[code]

So as long as we can accomplish so

[2018-02-07 22:18] markormesher commented on #25
Hey, thanks for flagging this. Looks like should be a straightforward fix: the `rebuildSpeedDialMenu` method that you call in [this block](https://github.com/OneBusAway/onebusaway-android/blob/24e9ebd2dd9f034c45069ec18174c5c1911cd3a8/onebusaway-android/src/main/java/org/onebusaway/android/ui/HomeActivity.java#L1712-L1734) doesn't properly handle rebuilding the menu if it is still open. I'll take a

[2018-02-07 22:22] barbeau commented on #25
Awesome, thanks @markormesher! And thanks for the great library!

[2018-02-08 10:17] markormesher commented on #24
https://github.com/markormesher/android-fab/compare/expose-views-in-menu-adapter

Short and sweet, but should do the job. I'll merge and release this later today after I tackle #25.

[2018-02-08 11:29] markormesher commented on #25
https://github.com/markormesher/android-fab/compare/reposition-menu-items-when-rebuilt

Will be merged + released this afternoon

[2018-02-09 20:17] markormesher commented on #25
Fixed in [v2.2.0](https://github.com/markormesher/android-fab/releases/tag/v2.2.0) 👍

[2018-02-09 20:17] #25 closed

[2018-02-09 20:17] markormesher commented on #24
Fixed in [v2.2.0](https://github.com/markormesher/android-fab/releases/tag/v2.2.0) 👍

[2018-02-09 20:17] #24 closed

[2018-02-09 21:17] barbeau commented on #25
Thanks @markormesher!  I'll give it a try.

[2018-02-09 21:17] barbeau commented on #24
Thanks @markormesher!

[2018-02-09 21:35] barbeau commented on #25
@markormesher I only see v2.1.0 on JCenter:
https://bintray.com/markormesher/maven/android-fab

[2018-02-10 09:15] markormesher commented on #25
My bad, should be published now: https://bintray.com/markormesher/maven/android-fab/v2.2.0

[2018-02-12 21:30] barbeau commented on #24
Thanks @markormesher, this works like a charm!

For anyone else that stumbles on this, I added this (slightly simplified) to my adapter code:

[code]

...and now I get the solid label background back:

![image](https://user-images.githubusercontent.com/928045/36120589-b0b2e010-1011-11e8-9ce7-d37616b21cbf.png)

Full commit for migrating to v2.2.0 of this library (from 1.x) is in https://github.com/

[2018-02-13 08:09] markormesher commented on #9
I'm going to close this as there is more info about the FR in #15.

[2018-02-13 08:09] #9 closed

[2018-02-20 14:52] barbeau commented on #15
@markormesher Thanks, setting the FAB position in v2 works great!  Feel free to close this - here's what our "left hand mode" looks like now:

![image](https://user-images.githubusercontent.com/928045/36430532-5af4426e-1623-11e8-8d18-5679004f69b7.png)

[2018-02-20 14:53] #15 closed

[2018-02-20 14:53] barbeau commented on #15
Just realized I can close this myself :).  Thanks again for the great library!

[2018-03-13 08:36] tihomirleka opened #26 "Crash when FloatingActionButton.setOnSpeedDialMenuCloseListener() get's null as parameter"
Hi,

I just updated from Java to Kotlin (latest) version of the library and my app crashes when I try to pass `null` to `FloatingActionButton.setOnSpeedDialMenuCloseListener()` method.

I get the following error

[code]

I don't know Kotlin so I'm not sure what's the problem.

[2018-03-13 09:26] markormesher commented on #26
Hey @tihomirleka - thanks for flagging this! I can see the problem; I'll release a fix shortly.

[2018-03-13 09:39] #26 closed

[2018-03-13 09:51] markormesher commented on #26
Fixed in v2.2.1 - let me know if you have any other issues! 👍

[2018-03-13 10:38] tihomirleka commented on #26
Just tested it. No crash. Thanks

[2018-03-14 09:45] dkroukamp opened #27 "FloatingActionButton Ripple colour"
Hi there

I'm having an issue, when I switched from the standard android FAB to this one my ripple effect on the FAB is no longer grey (or a darker orange), it now seems to use my primary colour of my application which is green, and on an orange FAB it really does not look right.

I set the FABs colour via `app:buttonBackgroundColour="@color/accent"` in the XML.

How would i go about changing this

[2018-03-14 09:59] dkroukamp opened #28 "Checking whether or not the SpeedDialMenu is open"
Hey there again

I know there is a listener which we could use to set our own property to track whether or not the `SpeedDialMenu `is open, but it would be nice to have a simple getter for `speedDialMenuOpen` field instead so on methods like `onBackPressed` the `SpeedDialMenu ` can be closed via the back button too.

[2018-03-14 10:20] markormesher commented on #28
Hey @dkroukamp, thanks for the suggestion. I completely agree that this would be a nice addition - I'll make sure it goes into the next release.

[2018-03-14 10:21] markormesher commented on #27
Hey @dkroukamp. Could you share an example of the code you're using? If it's in git, it would be super-useful to see how you were applying the styles before/after the change. Thanks.

[2018-03-14 10:41] ghost commented on #27
Ill try getting a small example app up on here in a few hours for you to look at! Will Bump this thread when its up. Thanks alot :).

[2018-03-15 08:42] ghost commented on #27
Figured out the issue while trying to replicate in a smaller project.

In my `styles.xml` I had `<item name="android:colorControlHighlight">@color/primary</item>` which applied the green highlight to all controls!

Sorry mate my mistake!

[2018-03-15 08:42] #27 closed

[2018-03-15 08:57] markormesher commented on #27
No problem, glad you got it figured out! I should have time to release a new version for #26 some time this week.

[2018-03-15 12:57] markormesher commented on #28
Fixed in [v2.2.2](https://github.com/markormesher/android-fab/releases/tag/v2.2.2) - should be available on Bintray shortly.

[2018-03-15 12:57] #28 closed

[2018-03-16 20:08] Martindgadr opened #29 "To much work in Fragment"
Hi there, I'm trying to implement you library in a project but I found an issue when i'm trying to display a SpeedDialer menu, no only that just when I press click on fab button show me this:

- Skipped 38 frames!  The application may be doing too much work on its main thread.

I'm working on a fragment, don't know if this is part of the issue but it's rare. I Just need to implement a fab with spe

[2018-03-21 15:10] markormesher commented on #29
Hey @Martindgadr, thanks for flagging this. I've set the library up on my phone in a test app using fragments and I wasn't able to reproduce the issue, but I will take a closer look later in the week to see if there are any places the app might be slowing things down. In the meantime, can you confirm that the issue is only caused when using this library, and if possible share the source code of wh

[2018-03-22 08:40] boyhasnoname opened #30 "Customize the menu"
Hi Writing this to know, how can i customize each row in menu item. I dont want to use the icons at right hand side, and the mehu text should have a background color, how can i implement this using your lib. could you please help me on this?

[2018-03-22 14:57] ghost opened #31 "XML Drawable not supported on all devices"
Hello!
When I set FAB Icon using custom XML drawable not all devices were displaying icon.
Setting icon as normal png helped. I guess it should not work this way :D

[2018-03-24 08:43] markormesher commented on #30
Hey @boyhasnoname. If you check out the discussion on #24, you can see some code discussing adding a background to the menu text. There's no discussion of hiding the icons (which I wouldn't recommend anyway), but the `getIconWrapper()` method described [here](https://github.com/markormesher/android-fab#access-to-underlying-views) should let you hide/show the wrapper that the icon is placed into.

[2018-03-24 08:49] markormesher commented on #31
Hey @Cililing - thanks for reporting this. Could you give me an example of the code that wasn't working, and the devices that were having problems? The library is tested with XML drawables and I've just double-checked it now, and I wasn't able to repro the issue.

Under the hood, the icon is set as the background of a `LinearLayout` ([see here](https://github.com/markormesher/android-fab/blob/deve

[2018-03-28 16:18] raveeshlawrance commented on #30
Got it. Thanks a lot :)

[2018-03-30 11:01] ghost commented on #31
Just creating icon with param drawable -> context.getDrawable(someXmlDrawableId). Sometime there was a icon, something wasn't.
I don't know why, I had tried to found what was going wrong (including checking source code) and code was fine for me (i saw it was just background). Then I tried to use png drawable and everthing was fine.
I've tested it on Xiaomi Mi A1 (Oreo), Samsung S5 (I guess Marshma

[2018-04-05 16:02] VladimirSlavic opened #32 "Not float up animation when snackbar shown"
It seems the floating button remains in position when a snackbar is being shown, whilst the native FAB implementation has it float up above the snackbar. Is there a way to get this to work with your implementation?

Thanks alot

[2018-04-28 08:28] markormesher commented on #32
Hey @VladimirSlavic, thanks for pointing this out. I think the answer here is to make sure the FAB is inside a `CoordinatorLayout` and have the view implement a custom behaviour, something like [this](https://stackoverflow.com/a/35904421/3227795). You could try specifying like they do on that link, and I'll work on adding it to the next version of the library.

[2018-04-28 08:28] markormesher commented on #32
Oops!

[2018-04-28 11:18] markormesher commented on #32
Hey @VladimirSlavic - this should be fixed in [v2.3.0-rc1](https://github.com/markormesher/android-fab/releases/tag/v2.3.0-rc1). Let me know if there are any problems 👍

[2018-05-01 18:45] ddinchev opened #33 "Make the menu items easier to customize"
Hey there!

First, thanks for this brilliant small library.

I have one issue though - I've been trying to customize the round menu items - to make them slightly larger.  This became a quite involved exercise as there are sizes (which programatically require conversions of dp to px), multiple offsets, paddings and margins to realign. Is it possible that such customizations are easier to do - via t

[2018-05-06 12:57] #30 closed

[2018-05-06 13:08] markormesher commented on #33
Hey @ddinchev - glad you like the library so far! I'm curious to know what your use case is for making them larger than standard? The icon sizes are based on the [Material Design spec from Google](https://material.io/), but that doesn't mean you shouldn't customise them if it's more suitable for your application.

As for actually making them bigger, you're right that there are quite a few moving p

[2018-05-06 16:28] VladimirSlavic commented on #32
I had already implemented my own behaviour, although i thought adding this to the library would make it much more desirable if it encapsulated the already default behaviour of the ordinary fab button. Your update works good though, very nice.

[2018-05-06 16:28] #32 closed

[2018-05-16 14:16] VladimirSlavic opened #34 "Text color"
Hey markormesher,
I was wondering, is it possible to change the label color in the SpeedDialMenuItem?

Regard, Vladimir

[2018-05-19 12:51] markormesher commented on #34
Hey @VladimirSlavic! You should be able to do that with [this method](https://github.com/markormesher/android-fab/blob/development/fab/src/main/kotlin/uk/co/markormesher/android_fab/SpeedDialMenuAdapter.kt#L42-L46) in the speed-dial menu adapter. Feel free to reopen this if you have any problems.

[2018-05-19 12:51] #34 closed

[2018-05-23 17:45] pbasl commented on #4
Hi;
When I attempt the solution posted by @Shuvajit-Das I get an error "Cannot resolve symbol 'OnSpeedDialOpenListener'.
Any suggestions?

[2018-05-24 07:38] markormesher commented on #4
Hey @pbasl. What version of the library are you using? The code above is from v1.x, but if you're on v2.x you'll need to use the `SpeedDialMenuOpenListener` class (code: [class to override](https://github.com/markormesher/android-fab/blob/development/fab/src/main/kotlin/uk/co/markormesher/android_fab/SpeedDialMenuOpenListener.kt), [setter](https://github.com/markormesher/android-fab/blob/developme

[2018-05-24 09:57] pbasl commented on #4
Thx @markormesher , that works
I am using v2.x

[2018-06-20 14:44] Yakow13 opened #35 "Content cover doesn't cover whole screen"
Device: Samsung SM-T580
Version android-fab: v2.2.2

On the tablet device, the cover keeps the left upper corner uncovered. My guess is, the circle which is used for animation has too small diameter. For more details, see the screenshot.

Thanks for your time :)

![screenshot_20180620-163858](https://user-images.githubusercontent.com/10089252/41665673-cd426aba-74a8-11e8-9b76-94f78459f454.png)

[2018-06-20 16:48] markormesher commented on #35
Hi Adam. Thanks for flagging this. I think you're right that the circle is
just a bit too small for that screen, and IIRC it's not sized dynamically
(obviously something that should be fixed!). I'm on holiday this week but
I'll try to take a look over the weekend.

On Wed, 20 Jun 2018, 15:44 Adam Weinzettl, <notifications@github.com> wrote:

[2018-06-21 06:40] Yakow13 commented on #35
Thanks for fast respond Mark.

Awesome :) . I would try it on my own and pull it, but wasn't able compile it in existing project, probably Kotlin vs. Java issue.

[2018-07-14 20:25] VladimirSlavic opened #36 "Unable to change icon in fab button programatically"
im trying to change the icon based on the page selected so for instance:
binding.fab.setButtonIconResource(R.drawable.profile_goto_arrow);
doesn't change the icon.

Any ideas?

[2018-07-15 09:58] markormesher commented on #36
Hey @VladimirSlavic. Looks like that should work, and I just tested it on my device with no problems. Can you point me towards the repo where you have this code not working, or share a minimal example if it's not public?

[2018-08-05 13:09] markormesher commented on #35
This should be fixed now in v2.3.1

[2018-08-05 13:09] #35 closed

[2018-08-14 22:13] objectorientedperson commented on #29
@Martindgadr hi, I have the same issue. Could you manage time to take a look into this?

[2018-08-17 06:43] markormesher commented on #29
Hi @objectorientedperson. I wasn't able to reproduce the issue last time and didn't get any code sample or info, so unfortunately there wasn't anything I could do. Could you share the repo or the relevant code fragment that's causing this, and let me know when the issue happens? The more info, the better.

[2018-08-21 09:07] Yakow13 opened #37 "Content cover and padding/margin"
When using padding for FAB component, to trim its position in layout, after expanding the content cover, it's not filling the whole area.  I'm not sure if this is bug, or expected behavior.

For more info, check the screenshot. The area on left is covered, the area on right is not. FAB is in the layout which is covering whole screen

![screenshot_20180821-110102 1](https://user-images.githubuserco

[2018-08-22 07:39] markormesher commented on #37
Hi @Yakow13 - thanks for raising this issue.

The content cover is implemented as a circle shape that is centred on the FAB and expands when required. Until recently it expanded to a fixed, arbitrarily large size that worked on _most_ devices, but as of v2.3.1 the circle is sized so that the radius is equal to the diagonal width of the screen. That size should work for your purpose, assuming the F

[2018-08-23 09:56] Yakow13 commented on #37
I'm working with newest version, v2.3.1.

Here is screenshot how does it looks like with following parameters:
android:layout_width="match_parent"
android:layout_height="match_parent"
android:paddingEnd="630dp"

Am I doing something wrong, or content cover is not designed to work with padding?

![screenshot_20180823-102547](https://user-images.githubusercontent.com/10089252/44513938-0b19ba80-a6bf-

[2018-08-23 12:22] markormesher commented on #37
Ah, okay now I see it. You can try swapping padding for margin, as that will create the space "outside" the layout bounds instead of inside them, but I'm not 100% sure whether that would work. If it doesn't, I can probably implement a fix over the weekend.

[2018-08-23 14:02] Yakow13 commented on #37
Unfortunately, usage of margin instead of padding, doesn't make any different.

Thanks for your time :)

[2018-08-24 16:36] markormesher commented on #37
What we need here is to have the FAB container still take up the full width/height of the layout (to allow the content cover to use the whole screen) and specify an internal offset to push the FAB, speed-dial and content-cover around _within_ the bounds of the container.

If it's urgent you could do this yourself by accessing the individual views (https://github.com/markormesher/android-fab#access

[2018-08-24 16:37] markormesher commented on #36
Closing as inactive. Feel free to reopen with a code example if you're still having problems.

[2018-08-24 16:37] #36 closed

[2018-09-02 17:04] markormesher commented on #37
Hey @Yakow13. This should be possible now in v2.4.1 - you can set an internal offset from any of the four edges, so in your case you'd set `internalOffsetEnd` to be the width of the area that isn't getting covered in the screen shots above (you can do this from code or XML). The internal offset is _added_ to the default offset, so it will appear slightly inset into the left-side area (as it does r

[2018-09-02 17:04] #37 closed

[2018-09-07 10:28] himgupta229 opened #39 "Unable to open speed dial menu automatically"
Hi,

In my layout I am having recycler view. Initially I put floating action button as hidden I want that whenever i click on any recyclerview item fab should get visible and speed dial menu should open and when after opening the speed dial menu clicking on content cover speed dial menu should first close and then gets hidden. I tried it using an interface to get the click event of recyclerview it

[2018-09-07 10:35] #39 closed

[2018-09-07 10:37] himgupta opened #40 "Unable to open speed dial automaticallay"
Hi,

In my layout I am having recycler view. Initially I put floating action button as hidden I want that whenever i click on any recyclerview item fab should get visible and speed dial menu should open and when after opening the speed dial menu clicking on content cover speed dial menu should first close and then gets hidden. I tried it using an interface to get the click event of recyclerview it

[2018-09-07 11:32] markormesher commented on #39
Hey @himgupta229. I saw that you closed this - did you fix the problem?

[2018-09-07 11:35] himgupta commented on #39
hi .no opened it again with my personal github id.

[2018-09-07 12:15] markormesher commented on #40
Hey - sorry, didn't notice this thread! Is the code on GitHub or elsewhere online? I'm not sure I follow exactly what's meant to be happening and what's going wrong. One point is that setting visibility on the FAB shouldn't normally be necessary as you can use the `.hide()` and `.show()` methods.

[2018-09-07 12:37] himgupta commented on #40
Changed the code to below but still it is not opening speed dial automatically.

`    public void onLongPressed() {
        if (floatingActionButton.isSpeedDialMenuOpen()) {
            floatingActionButton.hide(true);
        } else {
            floatingActionButton.show();
            floatingActionButton.setContentCoverEnabled(true);
            floatingActionButton.setContentCoverColour(0xfff

[2018-09-07 12:55] markormesher commented on #40
Just to make sure I understand fully, this is what you want to achieve:
- The FAB is initially hidden, and you have a RecyclerView of items.
- When a user long-presses on an item, the FAB should become visible and the speed-dial menu should open.
- When someone selects a speed-dial option or clicks outside to close it, the speed-dial menu should close and the FAB should hide.

If that's correct, I

[2018-09-23 04:53] johnwallco opened #41 "Release version 2.4.0 -- Failed to resolve"
Just FYI, when adding `implementation 'uk.co.markormesher:android-fab:2.4.0` to dependencies, I got a "Failed to resolve" error.

I checked the releases, and the 2.4.0 release appears to be mislabeled (along with the documentation).

I changed the dependency to `implementation 'uk.co.markormesher:android-fab:2.4.1`, and it resolved fine.

Thanks for this repo!

[2018-09-23 14:38] markormesher commented on #41
Oops! 2.4.0 didn't publish properly so only 2.4.1 should be in use. I've fixed the release and the readme. Thanks for the heads up 👍

[2018-09-23 14:38] #41 closed

[2018-09-24 15:13] edu1525 opened #42 "How to insert menu items in a speed dial adapter? I didnt find it in the documentation"

[2018-09-24 15:57] markormesher commented on #42
Hi @edu1525. You'll need to implement an instance of `SpeedDialMenuAdapter` and set it on the FAB ([documented here](https://github.com/markormesher/android-fab#speed-dial-menu)). In that class you'll need to override the methods [documented here](https://github.com/markormesher/android-fab/blob/development/fab/src/main/kotlin/uk/co/markormesher/android_fab/SpeedDialMenuAdapter.kt). Feel free to r

[2018-09-24 15:57] #42 closed

[2018-09-24 17:53] edu1525 opened #43 "How to change menu items background color?"
Is it possible to change the color of menu items?

[2018-09-24 19:01] markormesher commented on #43
It sure is! The `onPrepareXYZ()` methods [here](https://github.com/markormesher/android-fab/blob/development/fab/src/main/kotlin/uk/co/markormesher/android_fab/SpeedDialMenuAdapter.kt#L42-L60) give you access to the views that make up the speed-dial menu items _after_ they are generated but _before_ they are added to the view, so that is where you can change anything you want about them.

[2018-09-24 19:01] #43 closed

[2018-10-04 07:51] markormesher commented on #40
Hey @himgupta - did you manage to get this sorted?

[2018-11-01 20:21] sronbheannach opened #44 "Request: More reliable speed dial animation handling"
I’ve run into a bug in our app where, due to how our app is structured and how we handle configuration changes, we can run into a race condition where when we get to `animateSpeedDialMenuItems()` In `FloatingActionButton.kt` when trying to close the menu after clearing out `speedDialMenuViews` (basically, the source of our menu items gets destroyed before we can close the menu). This means `speedD

[2018-11-01 22:03] markormesher commented on #44
Hey @sronbheannach, thanks for the feedback. I don't have a ton of time to give to this project at the moment, but if you want to PR that improvement I'd be happy to review and cut a release. If not, I'll be able to pick this up in a week or two. If you do decide to PR it, it'd be good to see something a little more verbose about _why_ the count is checked.

[2018-12-15 15:25] markormesher commented on #40
This seems to be inactive, so I'll close this issue. @himgupta feel free to re-open it if you need to.

[2018-12-15 15:27] markormesher commented on #29
This seems to be inactive, so I'll close this issue. @objectorientedperson or @Martindgadr feel free to re-open it with some example code so I can try to repro it.

[2019-01-17 09:10] pascalguizard commented on #33
Hey,
I relaunch this subject because i want to customize `SpeedDialMenuItem background-color` but i can't. You think is possible to update `SpeedDialMenuItem` class or anything else to allow some visual updating ?

Thanks !

[2019-01-17 09:16] pascalguizard commented on #33
Oh it's already possible !
We can use `override fun getBackgroundColour(position: Int): Int` in `SpeedDialMenuAdapter` to change background color for item at specific position.

Sorry for my previous post.
Already is OK

Thanks !

[2019-02-18 14:03] harytkon opened #45 "Request: Update android-support library to androidx"
**android-fab** uses currently old version of `android-support` package.
Any plans to update to **androidx**?

[2019-02-20 07:53] Nimrodda commented on #45
I was wondering the same thing. We were thinking to integrate this library as well in our app, but I noticed that this library is not even using the latest support library version (28.0.0) before the change to AndroidX.

[2019-02-20 11:33] markormesher commented on #45
Hey @harytkon @Nimrodda. Thanks for pointing this out - this library hasn't been touched in a few months and could definitely do with having some versions bumped. I'll try to get to it this week and publish an update soon.

[2019-02-20 13:07] tkorri opened #47 "show() won't work if button is initially hidden"
If the floating action button's visibility is initially set as gone, then the show() method won't work properly.

Show() returns immediately if FloatingActionButton.isShown is true. The problem is that isShown is always initialized as true regardless of the view's visibility attribute.

[2019-02-20 13:42] markormesher commented on #47
Hi @tkorri. How are you setting the view as initially hidden? If you apply `android:visibility="gone"` to the whole `<uk.co.markormesher.android_fab.FloatingActionButton />` view you won't be able to influence the visibility using the `hide()` and `show()` methods.

The reason for this is that the FAB is a composite view with several components inside (the FAB itself, the speed-dial menu and the c

[2019-02-20 13:52] markormesher commented on #33
Closing due to inactivity.

[2019-02-20 13:52] #33 closed

[2019-02-20 14:34] tkorri commented on #47
@markormesher  Yes, I initially used `android:visibility="gone"` to hide the view, which makes the show()/hide() calls to fail.

I tried using hide() in the view initialization and it kind of works. But the issue with this approach is that the button is visible on the screen for brief moment until it's hidden. I.e. the button blinks once on the screen.

So it would be really nice to have a way to

[2019-02-20 15:08] markormesher commented on #47
@tkorri Are you able to share your code where you're using this? I don't see the flicker when I test it on my device (make sure you're passing `true` to hide immediately and without animation), but it's possible that your app and/or phone render _just_ slowly enough to show a brief flicker. If that's the case, I can have a look into implementing some kind of "initial visibility" flag or expanding

[2019-02-21 08:00] tkorri commented on #47
@markormesher Unfortunately I cannot share the code of the app I'm working on. The layout where the button is used is quite complex and it loads bunch of stuff in the background at the same time.

I tried calling hide() with immediate set to true, but the result is the same. The flickering is more frequent with older phones like Nexus 6P, Nexus 5 but I've also seen it sometimes with Pixel 2.

[2019-02-21 16:58] markormesher commented on #47
@tkorri Thanks for the info. I'll try to find some time this weekend or next week to publish a new version of the plugin that uses the `android:visibility` flag and still gives the expected behaviour.

[2019-02-23 06:51] #47 closed

[2019-02-23 06:52] markormesher commented on #45
Just merged #46 - I'll be publishing 2.5.0 shortly.

[2019-02-23 06:52] #45 closed

[2019-03-05 12:21] rolenin opened #49 "Scrollable speed-dial menu"
Is there a way to make speed-dial menu scrollable? If there are too many items, they go out of the screen.

[2019-03-10 12:49] markormesher commented on #49
Hey @rolenin. Scrolling the speed-dial menu isn't currently possible in the library, but I suppose it could be added.

Can I ask how many items you're trying to show? According to the [material design guidelines for FABs](https://material.io/design/components/buttons-floating-action-button.html#types-of-transitions), the speed-dial menu should contain "no more than six options". Obviously these ar

[2019-03-10 14:39] rolenin commented on #49
Mark, thanks for your reply.
I am going to ship my app with only two predefined values, however I'd like to make users able to add as many items as they want. So it's up to them how many items the fab is going to have.
I guess even breaking some design rules, the scrollable menu might look nicely and be really handy.

[2019-03-10 15:39] markormesher commented on #49
Seems like a pretty good use case for a scrollable menu to me 🙂

I'll see if I can get to it next week, but I can't promise anything. Feel free to open up a PR if you want to take a shot it it yourself.

[2019-03-10 15:51] rolenin commented on #49
Ok, sure, thanks )
I am not expierenced enough in programming to open up PRs but it's a good opportunity for me to have a look what I can do )

[2020-04-06 02:01] antranvn opened #53 "How can we extend the distance between fab buttons"
It is really nice project. How can we extend the distance between fab buttons? Currently, it is very near to each other.

[2020-04-06 14:46] markormesher commented on #53
Hey @antranvn. If the menu options are much closer to each other than the ones in image in the readme it might be a bug - if so, could you share a screenshot? Other than that, it's not customisable at the moment, it just uses the spacing from the Material Design UI specs. If this is something you really need, feel free to start a PR and I'll take a look at it.

[2020-04-06 14:51] antranvn commented on #53
Ah for current spacing, it is not really cool, it should more spacing. Okay @markormesher, I just try sometimes to update in FloatingActionButton but I haven't achieved it, will try something yeah.

[2020-08-10 14:41] theshid opened #55 "How to change color of option's text"
Hi I'm trying to change the color of the options s text but I didn't see a way to do it

[2020-08-12 12:51] markormesher commented on #55
Hi @theshid. That's not possible at the moment unfortunately, but that sounds like it would be a useful addition. I don't know when I'll have time to take a look at adding it, but if you want to PR the addition I'd be happy to work with you on it. My first thought is creating a decorator class that is passed each element of the FAB and speed-dial menu to make changes before it is rendered, but the

[2020-08-12 12:52] markormesher commented on #31
Closing this as a stale issue, but feel free to re-open if a reliable reproduction can be found.

[2020-08-12 12:52] #31 closed

[2020-08-14 02:35] theshid commented on #55
Actually it is possible, I just didn't read all your code that's why I didn't see it or maybe we misunderstood each other. I was talking about the label next to the menu items. I found out that you could do it easily in the function onPrepareItemLabel since we can access the Textview that displays the label. I also made a PR in which I added the possibility to chose the color of the menu items bac

[2020-08-15 08:33] markormesher commented on #55
Aha, you're absolutely right. That's exactly what I was describing when I said

but I didn't realise that it was already implemented! Can you tell I've not worked on this library much lately? I'm going to file an issue to include those methods in the documentation, but other than that I think this issue is all sorted?

[2020-08-15 08:33] #55 closed

[2020-08-15 08:33] markormesher opened #57 "Include onPrepareXyz methods in readme"
See #55

[2021-02-04 11:48] entibaldi opened #58 "Library artifacts are published to jcenter only, which will close in 3 months"
Hello! Your library is published only to jcenter. Please consider publishing it also to mavenCentral, as jcenter is [shutting down in May](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/).

[Here](https://central.sonatype.org/pages/producers.html) is some info on how to publish artifacts to mavenCentral.

[2021-05-17 07:49] KunduzNbkva opened #59 "Fab button gravity"
How can I set fab gravity to the center, not to left right bottom tops

[2021-05-17 12:24] markormesher commented on #59
Hi @KunduzNbkva, unfortunately that's not supported at the moment. It's not something I'm likely to have time to add any time soon, but if you're interested in contribution I'd be happy to work on the PR with you.